@font-face {
  font-family: 'Horizon';
  src: local('Horizon'), url(./assets/fonts/Horizon.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  src: url(./assets/fonts/Quicksand.otf);
}
@font-face {
  font-family: 'Raleway';
  src: url(./assets/fonts/Raleway-Thin.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.App {
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
}
